<!-- Form -->

<form id="mainform">
    <div style="border: solid 1px teal; padding: 5px; margin: 3px">
        <div class="caption text-center" style="background-color:teal; color: white">
            <strong>ФОРМА ОЦІНЮВАННЯ</strong>
        </div>

        <br/>
        <div class="form-group">
            <label>Параметр дисконту = {{ kappa }} </label><br/>
            <label>Коефіцієнт балу = {{ cremain }} </label><br/>
            <label>Коефіцієнт карми = {{ ckarma }} </label>
        </div>

        <div class="form-group">
            <label for="karma">Ваша карма (0-100) </label>
            <input type="number"
                   class="form-control"
                   id="karma"

                   placeholder="Карма">
        </div>
        <div class="form-group">
            <label for="maxim">Поточний максимум (без тесту)</label>
            <input type="number"
                   class="form-control"
                   id="maxim"

                   placeholder="Поточний максимум">
        </div>
        <div>
            <label for="task1">Оцінка в семестрі</label>
            <input type="number"
                   name="task1"
                   class="form-control"
                   id="task1"

                   placeholder="Оцінка в семестрі">
        </div>
        <div class="form-group">
            <label for="test">Тест (якщо не здавали, введіть -1) </label>
            <input type="number" class="form-control"
                   name="test"
                   id="test"

                   placeholder="Оцінка за тест">
        </div>


        <button class="btn btn-success btn-block"

                onclick="predict(event,{{ kappa }},{{ cremain }},{{ ckarma }});">РОЗРАХУВАТИ
        </button>
    </div>
</form>